<!DOCTYPE html>
<html lang="{{ site.active_lang }}">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script>
    var DEFAULT_LANG = '{{site.default_lang}}';
    var ACTIVE_LANG = '{{site.active_lang}}';
    var PAGE_URL = '{{page.url}}';

    // JavaScript for handling changing the active language. 
    document.querySelectorAll("div.languages button").forEach(function(elem) {
      elem.addEventListener("click", function() {
        var lang = elem.getAttribute("data-lang");
        var url;

        // Set the aerobatic-locale cookie with the selected language. The cookie
        // will remain valid for a full year so that if this browser returns to the site
        // their selection will be remembered. Once they select a different language, the
        // cookie is overwritten.
        document.cookie = 'aerobatic-locale=' + lang +
          '; expires=' + new Date(Date.now() + 365*24*60*60*1000).toUTCString() +
          '; path=/';

        // For the default language, there is no prefix. For the other 
        // languages, prepend the url with the language code, i.e. "/es/about/".
        if (lang === DEFAULT_LANG) {
          url = PAGE_URL;
        } else {
          url = '/' + lang + PAGE_URL;
        }
        location.href = url;
      });
    });
    </script>
  </body>

</html>